# Directorios de compilación
**/bin/
**/obj/

# Archivos de desarrollo
**/*.user
**/*.userosscache
**/*.sln.docstates

# Archivos de VS Code/Rider
.vscode/
.idea/
*.suo
*.user
*.sln.iml

# Logs y bases de datos
*.log
*.sqlite

# Directorios de sistema
.DS_Store
Thumbs.db
